This document will cover sections 6 - 9 of the "Plotting and Programming in Python" workshop material. 

Here we will learn about libraries, reading tablular data into Dataframes with Pandas, and plotting.

Access the data by downloading the gapminder dataset from
  * swcarpentry.github.io/python-novice-gapminder/setup.html
  * Place on your desktop for easy access
  * Path: ~/Desktop/data/

### An Overview of Python Libraries

* A library is a collection of files (modules) that contain functions for use by other programs
  * Generally related functions
  * May contain other things like data values
  * Also referred to as packages
* Python contains an extensive standard library
* Additional libraries can be found in the Python Package Index (PyPI)


* To use a library, it must be imported into Python
  * `import numpy`
      * `numpy.array([1, 2, 3])`
* Make a nickname for the imported package
  * `import numpy as np`
    * `np. array([1, 2, 3])

In [1]:
# `pi` is s a function that provides the number pi
# If you type the function `pi` without importing the "math" library, 
# you will get an error
pi

NameError: name 'pi' is not defined

In [2]:
# Import the "math" package to use the function `pi`
import math

In [3]:
# Call a function from an imported library using dot (.) notation
# libary_name.function
print(math.pi)

3.141592653589793

In [4]:
# Learn more about a library by using the function `help`
# help(math)

In [5]:
# Import specific functions from a library, not the entire library
# These no longer require that you reference the library and can be called by 
# only their name
from math import pi, cos
print(pi)
print(cos(pi))
print("cos(pi) is", cos(pi))

3.141592653589793
-1.0
cos(pi) is -1.0

In [6]:
# Make a nickname for an imported library
import math as m
print(m.pi)

3.141592653589793

## Exploring a new library

To excercise our mind and fingers, let's use the library `random` to print a random character from a string.

In [7]:
import random

# Write a string
string = 'STACEY'

# Check the length of characters in your string
print(len(string))

# Save the random index determined for the length of characters in your string
random_index = random.randrange(len(string))
print(random_index)
                                
# Pring the character in the randomly selected index
print(string[random_index])

6
5
Y

In [8]:
# Use `random.choice` to select a random index from your string
import random

print(random.choice(string))

E

## Reading Tabular Data into Dataframes using Pandas

* Pandas is a Python library for statistics and tabular data
* Similar to dataframes in R
  * 2-dimensional
  * Columns have names of the observed variables
  * Rows contain the observation values
  * Able to contain different data types
* A dataframe is a collection of series
  * A dataframe is a table
  * A series is the data-structure Pandas uses to represent a column
* Pandas is built on the Numpy library
  * Most methods in Numpy apply to dataframes/series in Pandas
* Common nickname/alias for Pandas is `pd`

In [9]:
# Import Pandas using the alias `pd`
import pandas as pd

# Use `pd.read_csv()` to read a comma separated values (csv) data table
data = pd.read_csv('~/Desktop/data/gapminder_gdp_oceania.csv')
print(data)

# Pandas uses `\` when the output is too wide to fit the screen

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [10]:
# Current row names are 0 and 1
# Change the row names to the column `country`

data = pd.read_csv('~/Desktop/data/gapminder_gdp_oceania.csv', index_col = 'country')
print(data)

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911

In [11]:
# find out more information about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  2 non-null      float64
 1   gdpPercap_1957  2 non-null      float64
 2   gdpPercap_1962  2 non-null      float64
 3   gdpPercap_1967  2 non-null      float64
 4   gdpPercap_1972  2 non-null      float64
 5   gdpPercap_1977  2 non-null      float64
 6   gdpPercap_1982  2 non-null      float64
 7   gdpPercap_1987  2 non-null      float64
 8   gdpPercap_1992  2 non-null      float64
 9   gdpPercap_1997  2 non-null      float64
 10  gdpPercap_2002  2 non-null      float64
 11  gdpPercap_2007  2 non-null      float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [12]:
# We can explore and modify the data using member variables (do not require `()`)

# Get column names
print(data.columns)

# Transpose a dataframe
print(data.T)

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')
country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [13]:
# Import new dataset from the same directory and 
# label the rows with the column `country`

americas = pd.read_csv('~/Desktop/data/gapminder_gdp_americas.csv', 
                       index_col = 'country')

# Print out the dimensions of the dataframe
# 25 rows, 13 columns
print(americas.shape)

(25, 13)

In [14]:
# Use `head` to print the top three rows of the dataframe
print(americas.head(n=3))

          continent  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
country
Argentina  Americas     5911.315053     6856.856212     7133.166023
Bolivia    Americas     2677.326347     2127.686326     2180.972546
Brazil     Americas     2108.944355     2487.365989     3336.585802

           gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
country
Argentina     8052.953021     9443.038526    10079.026740     8997.897412
Bolivia       2586.886053     2980.331339     3548.097832     3156.510452
Brazil        3429.864357     4985.711467     6660.118654     7030.835878

           gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
country
Argentina     9139.671389     9308.418710    10967.281950     8797.640716
Bolivia       2753.691490     2961.699694     3326.143191     3413.262690
Brazil        7807.095818     6950.283021     7957.980824     8131.212843

           gdpPercap_2007
country
Argentina    12779.379640
Bolivia       3822.137084
Brazil        9065.800825

In [15]:
# Use `tail` to print the bottom three rows of the dataframe
print(americas.tail(n=2))

          continent  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
country
Uruguay    Americas     5716.766744     6150.772969     5603.357717
Venezuela  Americas     7689.799761     9802.466526     8422.974165

           gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
country
Uruguay       5444.619620     5703.408898     6504.339663     6920.223051
Venezuela     9541.474188    10505.259660    13143.950950    11152.410110

           gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
country
Uruguay       7452.398969     8137.004775     9230.240708     7727.002004
Venezuela     9883.584648    10733.926310    10165.495180     8605.047831

           gdpPercap_2007
country
Uruguay       10611.46299
Venezuela     11415.80569

In [16]:
# Get summary statistics for columns with numerical data
print(data.describe())

       gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
count        2.000000        2.000000        2.000000        2.000000
mean     10298.085650    11598.522455    12696.452430    14495.021790
std        365.560078      917.644806      677.727301       43.986086
min      10039.595640    10949.649590    12217.226860    14463.918930
25%      10168.840645    11274.086022    12456.839645    14479.470360
50%      10298.085650    11598.522455    12696.452430    14495.021790
75%      10427.330655    11922.958888    12936.065215    14510.573220
max      10556.575660    12247.395320    13175.678000    14526.124650

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
count         2.00000        2.000000        2.000000        2.000000
mean      16417.33338    17283.957605    18554.709840    20448.040160
std         525.09198     1485.263517     1304.328377     2037.668013
min       16046.03728    16233.717700    17632.410400    19007.191290
25%       16231.68533    16758.837652    18093.560120    19727.615725
50%       16417.33338    17283.957605    18554.709840    20448.040160
75%       16602.98143    17809.077558    19015.859560    21168.464595
max       16788.62948    18334.197510    19477.009280    21888.889030

       gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
count        2.000000        2.000000        2.000000        2.000000
mean     20894.045885    24024.175170    26938.778040    29810.188275
std       3578.979883     4205.533703     5301.853680     6540.991104
min      18363.324940    21050.413770    23189.801350    25185.009110
25%      19628.685412    22537.294470    25064.289695    27497.598692
50%      20894.045885    24024.175170    26938.778040    29810.188275
75%      22159.406358    25511.055870    28813.266385    32122.777858
max      23424.766830    26997.936570    30687.754730    34435.367440

In [17]:
# Save the transposed data into a new variable
americas_flip = americas.T
print(americas_flip)

country           Argentina      Bolivia       Brazil       Canada  \
continent          Americas     Americas     Americas     Americas
gdpPercap_1952  5911.315053  2677.326347  2108.944355  11367.16112
gdpPercap_1957  6856.856212  2127.686326  2487.365989  12489.95006
gdpPercap_1962  7133.166023  2180.972546  3336.585802  13462.48555
gdpPercap_1967  8052.953021  2586.886053  3429.864357  16076.58803
gdpPercap_1972  9443.038526  2980.331339  4985.711467  18970.57086
gdpPercap_1977  10079.02674  3548.097832  6660.118654  22090.88306
gdpPercap_1982  8997.897412  3156.510452  7030.835878  22898.79214
gdpPercap_1987  9139.671389   2753.69149  7807.095818  26626.51503
gdpPercap_1992   9308.41871  2961.699694  6950.283021  26342.88426
gdpPercap_1997  10967.28195  3326.143191  7957.980824  28954.92589
gdpPercap_2002  8797.640716   3413.26269  8131.212843  33328.96507
gdpPercap_2007  12779.37964  3822.137084  9065.800825  36319.23501

country               Chile     Colombia   Costa Rica         Cuba  \
continent          Americas     Americas     Americas     Americas
gdpPercap_1952  3939.978789  2144.115096  2627.009471   5586.53878
gdpPercap_1957  4315.622723  2323.805581  2990.010802  6092.174359
gdpPercap_1962  4519.094331  2492.351109  3460.937025   5180.75591
gdpPercap_1967  5106.654313  2678.729839  4161.727834  5690.268015
gdpPercap_1972  5494.024437  3264.660041  5118.146939  5305.445256
gdpPercap_1977  4756.763836   3815.80787  5926.876967  6380.494966
gdpPercap_1982  5095.665738  4397.575659  5262.734751  7316.918107
gdpPercap_1987  5547.063754    4903.2191  5629.915318  7532.924763
gdpPercap_1992  7596.125964  5444.648617  6160.416317  5592.843963
gdpPercap_1997  10118.05318  6117.361746  6677.045314  5431.990415
gdpPercap_2002  10778.78385  5755.259962  7723.447195  6340.646683
gdpPercap_2007  13171.63885  7006.580419   9645.06142  8948.102923

country        Dominican Republic      Ecuador  ...       Mexico    Nicaragua  \
continent                Americas     Americas  ...     Americas     Americas
gdpPercap_1952        1397.717137  3522.110717  ...  3478.125529  3112.363948
gdpPercap_1957        1544.402995  3780.546651  ...  4131.546641  3457.415947
gdpPercap_1962        1662.137359  4086.114078  ...  4581.609385  3634.364406
gdpPercap_1967        1653.723003  4579.074215  ...  5754.733883  4643.393534
gdpPercap_1972        2189.874499   5280.99471  ...   6809.40669  4688.593267
gdpPercap_1977          2681.9889   6679.62326  ...  7674.929108  5486.371089
gdpPercap_1982        2861.092386  7213.791267  ...  9611.147541  3470.338156
gdpPercap_1987        2899.842175  6481.776993  ...  8688.156003  2955.984375
gdpPercap_1992        3044.214214  7103.702595  ...  9472.384295  2170.151724
gdpPercap_1997        3614.101285  7429.455877  ...   9767.29753  2253.023004
gdpPercap_2002        4563.808154  5773.044512  ...  10742.44053  2474.548819
gdpPercap_2007        6025.374752  6873.262326  ...  11977.57496  2749.320965

country              Panama     Paraguay         Peru  Puerto Rico  \
continent          Americas     Americas     Americas     Americas
gdpPercap_1952  2480.380334  1952.308701  3758.523437  3081.959785
gdpPercap_1957  2961.800905  2046.154706  4245.256698  3907.156189
gdpPercap_1962  3536.540301  2148.027146  4957.037982   5108.34463
gdpPercap_1967  4421.009084  2299.376311   5788.09333  6929.277714
gdpPercap_1972  5364.249663  2523.337977  5937.827283  9123.041742
gdpPercap_1977  5351.912144  3248.373311  6281.290855  9770.524921
gdpPercap_1982  7009.601598  4258.503604  6434.501797  10330.98915
gdpPercap_1987  7034.779161  3998.875695  6360.943444  12281.34191
gdpPercap_1992   6618.74305  4196.411078  4446.380924  14641.58711
gdpPercap_1997  7113.692252  4247.400261  5838.347657   16999.4333
gdpPercap_2002  7356.031934  3783.674243  5909.020073  18855.60618
gdpPercap_2007  9809.185636  4172.838464  7408.905561  19328.70901

country        Trinidad and Tobago United States      Uruguay    Venezuela
continent                 Americas      Americas     Americas     Americas
gdpPercap_1952         3023.271928   13990.48208  5716.766744  7689.799761
gdpPercap_1957           4100.3934   14847.12712  6150.772969  9802.466526
gdpPercap_1962         4997.523971   16173.14586  5603.357717  8422.974165
gdpPercap_1967         5621.368472   19530.36557   5444.61962  9541.474188
gdpPercap_1972         6619.551419   21806.03594  5703.408898  10505.25966
gdpPercap_1977         7899.554209   24072.63213  6504.339663  13143.95095
gdpPercap_1982         9119.528607   25009.55914  6920.223051  11152.41011
gdpPercap_1987         7388.597823   29884.35041  7452.398969  9883.584648
gdpPercap_1992         7370.990932   32003.93224  8137.004775  10733.92631
gdpPercap_1997         8792.573126   35767.43303  9230.240708  10165.49518
gdpPercap_2002         11460.60023   39097.09955  7727.002004  8605.047831
gdpPercap_2007         18008.50924   42951.65309  10611.46299  11415.80569

[13 rows x 25 columns]

In [18]:
# Print the last two rows of the dataframe and transpose for easier reading
# Note: this is not saved as an object, it is only printed
print(americas_flip.tail(n=2).T)

                    gdpPercap_2002 gdpPercap_2007
country
Argentina              8797.640716    12779.37964
Bolivia                 3413.26269    3822.137084
Brazil                 8131.212843    9065.800825
Canada                 33328.96507    36319.23501
Chile                  10778.78385    13171.63885
Colombia               5755.259962    7006.580419
Costa Rica             7723.447195     9645.06142
Cuba                   6340.646683    8948.102923
Dominican Republic     4563.808154    6025.374752
Ecuador                5773.044512    6873.262326
El Salvador            5351.568666    5728.353514
Guatemala              4858.347495    5186.050003
Haiti                  1270.364932    1201.637154
Honduras                3099.72866    3548.330846
Jamaica                6994.774861    7320.880262
Mexico                 10742.44053    11977.57496
Nicaragua              2474.548819    2749.320965
Panama                 7356.031934    9809.185636
Paraguay               3783.674243    4172.838464
Peru                   5909.020073    7408.905561
Puerto Rico            18855.60618    19328.70901
Trinidad and Tobago    11460.60023    18008.50924
United States          39097.09955    42951.65309
Uruguay                7727.002004    10611.46299
Venezuela              8605.047831    11415.80569

In [19]:
americas2 = americas_flip.tail(n=2).T

In [20]:
# Save modified dataframe as a new file
americas2.to_csv('~/Desktop/data/americas2_processed.csv')

In [21]:
# Read in the new data file by assigning a new variable name
my_df = pd.read_csv('~/Desktop/data/americas2_processed.csv')
print(my_df)

                country  gdpPercap_2002  gdpPercap_2007
0             Argentina     8797.640716    12779.379640
1               Bolivia     3413.262690     3822.137084
2                Brazil     8131.212843     9065.800825
3                Canada    33328.965070    36319.235010
4                 Chile    10778.783850    13171.638850
5              Colombia     5755.259962     7006.580419
6            Costa Rica     7723.447195     9645.061420
7                  Cuba     6340.646683     8948.102923
8    Dominican Republic     4563.808154     6025.374752
9               Ecuador     5773.044512     6873.262326
10          El Salvador     5351.568666     5728.353514
11            Guatemala     4858.347495     5186.050003
12                Haiti     1270.364932     1201.637154
13             Honduras     3099.728660     3548.330846
14              Jamaica     6994.774861     7320.880262
15               Mexico    10742.440530    11977.574960
16            Nicaragua     2474.548819     2749.320965
17               Panama     7356.031934     9809.185636
18             Paraguay     3783.674243     4172.838464
19                 Peru     5909.020073     7408.905561
20          Puerto Rico    18855.606180    19328.709010
21  Trinidad and Tobago    11460.600230    18008.509240
22        United States    39097.099550    42951.653090
23              Uruguay     7727.002004    10611.462990
24            Venezuela     8605.047831    11415.805690

## Subsetting a Dataframe

* Square brackets
  * [] - results in Panda series
  * [[]] - results in Pandas dataframe
* Slicing
  * [] - includes <b>start</b>, up to and excluding <b>end</b> index
    * results in a dataframe with only the rows specified
    * only row indices allowed
* loc
  * label-based, specify rows and columns based on row and column labels
    * [] - results are a Pandas series
    * [[]] - results are a dataframe
      * <b>Note</b>: contrary to usual python slices, both the start and the the stop index are included
* iloc
  * similar to square brackets, iloc is integer based. Specify rows and columns by integer index
    * [] - results are a Pandas series
    * [[]] - results are a dataframe

In [129]:
# Use `loc`, row name, and single brackets to return series
# Read csv data for asia
asia = pd.read_csv('~/Desktop/data/gapminder_gdp_asia.csv')

# Determine dimensions of dataframe
print(asia.shape)

# Look at the data
print(asia.tail(n=10))

# Read csv data for asia -- with row names as the country names
# Notes: Singapore = 25, Thailand = 29
asia = pd.read_csv('~/Desktop/data/gapminder_gdp_asia.csv', 
                   index_col = 'country')
print(asia.shape)
print(asia.tail(n=10))

(33, 13)
               country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
23         Philippines     1272.880995     1547.944844     1649.552153
24        Saudi Arabia     6459.554823     8157.591248    11626.419750
25           Singapore     2315.138227     2843.104409     3674.735572
26           Sri Lanka     1083.532030     1072.546602     1074.471960
27               Syria     1643.485354     2117.234893     2193.037133
28              Taiwan     1206.947913     1507.861290     1822.879028
29            Thailand      757.797418      793.577415     1002.199172
30             Vietnam      605.066492      676.285448      772.049160
31  West Bank and Gaza     1515.592329     1827.067742     2198.956312
32          Yemen Rep.      781.717576      804.830455      825.623201

    gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
23     1814.127430     1989.374070     2373.204287     2603.273765
24    16903.048860    24837.428650    34167.762600    33693.175250
25     4977.418540     8597.756202    11210.089480    15169.161120
26     1135.514326     1213.395530     1348.775651     1648.079789
27     1881.923632     2571.423014     3195.484582     3761.837715
28     2643.858681     4062.523897     5596.519826     7426.354774
29     1295.460660     1524.358936     1961.224635     2393.219781
30      637.123289      699.501644      713.537120      707.235786
31     2649.715007     3133.409277     3682.831494     4336.032082
32      862.442146     1265.047031     1829.765177     1977.557010

    gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
23     2189.634995     2279.324017     2536.534925     2650.921068
24    21198.261360    24841.617770    20586.690190    19014.541180
25    18861.530810    24769.891200    33519.476600    36023.105400
26     1876.766827     2153.739222     2664.477257     3015.378833
27     3116.774285     3340.542768     4014.238972     4090.925331
28    11054.561750    15215.657900    20206.820980    23235.423290
29     2982.653773     4616.896545     5852.625497     5913.187529
30      820.799445      989.023149     1385.896769     1764.456677
31     5107.197384     6017.654756     7110.667619     4515.487575
32     1971.741538     1879.496673     2117.484526     2234.820827

    gdpPercap_2007
23     3190.481016
24    21654.831940
25    47143.179640
26     3970.095407
27     4184.548089
28    28718.276840
29     7458.396327
30     2441.576404
31     3025.349798
32     2280.769906
(33, 12)
                    gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
country
Philippines            1272.880995     1547.944844     1649.552153
Saudi Arabia           6459.554823     8157.591248    11626.419750
Singapore              2315.138227     2843.104409     3674.735572
Sri Lanka              1083.532030     1072.546602     1074.471960
Syria                  1643.485354     2117.234893     2193.037133
Taiwan                 1206.947913     1507.861290     1822.879028
Thailand                757.797418      793.577415     1002.199172
Vietnam                 605.066492      676.285448      772.049160
West Bank and Gaza     1515.592329     1827.067742     2198.956312
Yemen Rep.              781.717576      804.830455      825.623201

                    gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  \
country
Philippines            1814.127430     1989.374070     2373.204287
Saudi Arabia          16903.048860    24837.428650    34167.762600
Singapore              4977.418540     8597.756202    11210.089480
Sri Lanka              1135.514326     1213.395530     1348.775651
Syria                  1881.923632     2571.423014     3195.484582
Taiwan                 2643.858681     4062.523897     5596.519826
Thailand               1295.460660     1524.358936     1961.224635
Vietnam                 637.123289      699.501644      713.537120
West Bank and Gaza     2649.715007     3133.409277     3682.831494
Yemen Rep.              862.442146     1265.047031     1829.765177

                    gdpPercap_1982  gdpPercap_1987  gdpPercap_1992  \
country
Philippines            2603.273765     2189.634995     2279.324017
Saudi Arabia          33693.175250    21198.261360    24841.617770
Singapore             15169.161120    18861.530810    24769.891200
Sri Lanka              1648.079789     1876.766827     2153.739222
Syria                  3761.837715     3116.774285     3340.542768
Taiwan                 7426.354774    11054.561750    15215.657900
Thailand               2393.219781     2982.653773     4616.896545
Vietnam                 707.235786      820.799445      989.023149
West Bank and Gaza     4336.032082     5107.197384     6017.654756
Yemen Rep.             1977.557010     1971.741538     1879.496673

                    gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Philippines            2536.534925     2650.921068     3190.481016
Saudi Arabia          20586.690190    19014.541180    21654.831940
Singapore             33519.476600    36023.105400    47143.179640
Sri Lanka              2664.477257     3015.378833     3970.095407
Syria                  4014.238972     4090.925331     4184.548089
Taiwan                20206.820980    23235.423290    28718.276840
Thailand               5852.625497     5913.187529     7458.396327
Vietnam                1385.896769     1764.456677     2441.576404
West Bank and Gaza     7110.667619     4515.487575     3025.349798
Yemen Rep.             2117.484526     2234.820827     2280.769906

In [131]:
# Return a specific value by providing the specific column and row labels
print(asia.loc["Singapore", "gdpPercap_1952"])

2315.138227

In [132]:
# Return the column for Singapore using the index value and the method `iloc`
asia.iloc[25, :]

gdpPercap_1952     2315.138227
gdpPercap_1957     2843.104409
gdpPercap_1962     3674.735572
gdpPercap_1967     4977.418540
gdpPercap_1972     8597.756202
gdpPercap_1977    11210.089480
gdpPercap_1982    15169.161120
gdpPercap_1987    18861.530810
gdpPercap_1992    24769.891200
gdpPercap_1997    33519.476600
gdpPercap_2002    36023.105400
gdpPercap_2007    47143.179640
Name: Singapore, dtype: float64

In [135]:
# Return the columns between and including Chile and Cuba between 1962 and 1972
# start index = included
# end index = excluded
print(asia.iloc[25:30, 3:6])

           gdpPercap_1967  gdpPercap_1972  gdpPercap_1977
country
Singapore     4977.418540     8597.756202    11210.089480
Sri Lanka     1135.514326     1213.395530     1348.775651
Syria         1881.923632     2571.423014     3195.484582
Taiwan        2643.858681     4062.523897     5596.519826
Thailand      1295.460660     1524.358936     1961.224635

In [137]:
# Print three columns in the rows including and between Chile and Cuba
print(asia.loc['Singapore':'Thailand', 'gdpPercap_1962':'gdpPercap_1972'])

           gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Singapore     3674.735572     4977.418540     8597.756202
Sri Lanka     1074.471960     1135.514326     1213.395530
Syria         2193.037133     1881.923632     2571.423014
Taiwan        1822.879028     2643.858681     4062.523897
Thailand      1002.199172     1295.460660     1524.358936

In [138]:
# Print all (':') columns in the rows including and between Chile and Cuba
print(asia.loc['Singapore':'Thailand', :])

           gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Singapore     2315.138227     2843.104409     3674.735572     4977.418540
Sri Lanka     1083.532030     1072.546602     1074.471960     1135.514326
Syria         1643.485354     2117.234893     2193.037133     1881.923632
Taiwan        1206.947913     1507.861290     1822.879028     2643.858681
Thailand       757.797418      793.577415     1002.199172     1295.460660

           gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Singapore     8597.756202    11210.089480    15169.161120    18861.530810
Sri Lanka     1213.395530     1348.775651     1648.079789     1876.766827
Syria         2571.423014     3195.484582     3761.837715     3116.774285
Taiwan        4062.523897     5596.519826     7426.354774    11054.561750
Thailand      1524.358936     1961.224635     2393.219781     2982.653773

           gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Singapore    24769.891200    33519.476600    36023.105400    47143.179640
Sri Lanka     2153.739222     2664.477257     3015.378833     3970.095407
Syria         3340.542768     4014.238972     4090.925331     4184.548089
Taiwan       15215.657900    20206.820980    23235.423290    28718.276840
Thailand      4616.896545     5852.625497     5913.187529     7458.396327

## Subsetting and Slicing Results can be used in Downstream Operations

* Slicing
  * You can select multiple elements from a list by selecting a range of elements. The result will be a new list of the choosen elements.
All the same operations that work on on entire dataframes work the same way on subset data.

In [139]:
# Determine the max value in each column
print(asia.loc['Singapore':'Thailand', 'gdpPercap_1962':'gdpPercap_1972'].max())

gdpPercap_1962    3674.735572
gdpPercap_1967    4977.418540
gdpPercap_1972    8597.756202
dtype: float64

* Comparison on each element can select data based on value
* Results are a boolean dataframe, determining if the comparison request is True or False

In [140]:
# Determine the max value in each column
subset_data = asia.loc['Singapore':'Thailand', 'gdpPercap_1962':'gdpPercap_1972']
print(subset_data)

           gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Singapore     3674.735572     4977.418540     8597.756202
Sri Lanka     1074.471960     1135.514326     1213.395530
Syria         2193.037133     1881.923632     2571.423014
Taiwan        1822.879028     2643.858681     4062.523897
Thailand      1002.199172     1295.460660     1524.358936

In [142]:
# Subset data values exceeding 5000
# Returns boolean data frame indicating matches to condition provided
print(subset_data > 2000)

           gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Singapore            True            True            True
Sri Lanka           False           False           False
Syria                True           False            True
Taiwan              False            True            True
Thailand            False           False           False

In [143]:
# Subset data values exceeding 5000 and save as variable name `mask`
mask = subset_data > 2000
print(mask)

# Use the subset data values to only show the values that match the condition
# `NaN (Not a Number) is shown where the boolean value is False (doesn't match condition)
print(subset_data[mask])

           gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Singapore            True            True            True
Sri Lanka           False           False           False
Syria                True           False            True
Taiwan              False            True            True
Thailand            False           False           False
           gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Singapore     3674.735572     4977.418540     8597.756202
Sri Lanka             NaN             NaN             NaN
Syria         2193.037133             NaN     2571.423014
Taiwan                NaN     2643.858681     4062.523897
Thailand              NaN             NaN             NaN

# TODO FIX

# Group By: Split-Apply-Combine

Pandas vectorizing methods and grouping operations provide users the flexibility to analyze their data efficiently.

Read more on <a href=jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html>Python Data Science Handbook</a>.

In [54]:
# Load new data file
europe = pd.read_csv('~/Desktop/data/gapminder_gdp_europe.csv', 
                      index_col = 'country')
print(europe.shape)

# Print all rows and only the first 3 columns
print(europe.iloc[:, 0:3])

(30, 12)
                        gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Albania                    1601.056136     1942.284244     2312.888958
Austria                    6137.076492     8842.598030    10750.721110
Belgium                    8343.105127     9714.960623    10991.206760
Bosnia and Herzegovina      973.533195     1353.989176     1709.683679
Bulgaria                   2444.286648     3008.670727     4254.337839
Croatia                    3119.236520     4338.231617     5477.890018
Czech Republic             6876.140250     8256.343918    10136.867130
Denmark                    9692.385245    11099.659350    13583.313510
Finland                    6424.519071     7545.415386     9371.842561
France                     7029.809327     8662.834898    10560.485530
Germany                    7144.114393    10187.826650    12902.462910
Greece                     3530.690067     4916.299889     6017.190733
Hungary                    5263.673816     6040.180011     7550.359877
Iceland                    7267.688428     9244.001412    10350.159060
Ireland                    5210.280328     5599.077872     6631.597314
Italy                      4931.404155     6248.656232     8243.582340
Montenegro                 2647.585601     3682.259903     4649.593785
Netherlands                8941.571858    11276.193440    12790.849560
Norway                    10095.421720    11653.973040    13450.401510
Poland                     4029.329699     4734.253019     5338.752143
Portugal                   3068.319867     3774.571743     4727.954889
Romania                    3144.613186     3943.370225     4734.997586
Serbia                     3581.459448     4981.090891     6289.629157
Slovak Republic            5074.659104     6093.262980     7481.107598
Slovenia                   4215.041741     5862.276629     7402.303395
Spain                      3834.034742     4564.802410     5693.843879
Sweden                     8527.844662     9911.878226    12329.441920
Switzerland               14734.232750    17909.489730    20431.092700
Turkey                     1969.100980     2218.754257     2322.869908
United Kingdom             9979.508487    11283.177950    12477.177070

In [145]:
# Subset the data into two groups.
# Take the average GDP and separate between higher and lower than average
mask_higher = europe > europe.mean()
print(mask_higher.head(n=5))

                        gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
country
Albania                          False           False           False
Austria                           True            True            True
Belgium                           True            True            True
Bosnia and Herzegovina           False           False           False
Bulgaria                         False           False           False

                        gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  \
country
Albania                          False           False           False
Austria                           True            True            True
Belgium                           True            True            True
Bosnia and Herzegovina           False           False           False
Bulgaria                         False           False           False

                        gdpPercap_1982  gdpPercap_1987  gdpPercap_1992  \
country
Albania                          False           False           False
Austria                           True            True            True
Belgium                           True            True            True
Bosnia and Herzegovina           False           False           False
Bulgaria                         False           False           False

                        gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Albania                          False           False           False
Austria                           True            True            True
Belgium                           True            True            True
Bosnia and Herzegovina           False           False           False
Bulgaria                         False           False           False